*{
    padding: 0;
    margin: 0;
}
body{
    background-color:white;
    color: #5653FD;
    overflow: hidden;
}
@font-face {
    src: url('Fonts/Poppins-Light.otf');
    font-family: pop;
 }
 @font-face {
   
     src: url('Fonts/Montserrat-VariableFont_wght.ttf');
     font-family: mont;
 }
 *{
     font-family: pop;
     margin: 0;
     padding: 0;
 }

 .grid-content{
     display: grid;
     grid-template-columns: 50% 50%;
     height: 100vh;
     margin: 0;
    
}
.right-side{
  
}
img{
    width: 100%;
    object-fit: contain;
    object-position: -30px -100px;
    background-attachment: fixed;
    margin: 0;  
}
nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: 0;
    padding-top: 25px ;
   
}
.items-list{
    display: flex;
    align-items: center;
    margin-right: auto;
    list-style: none;
    margin-left: 100px;
}

a{
    text-decoration: none;
    margin-right: 40px;
    color: #BBBAFE;
    font-size: 14px;
    transition: .3s;
}



#last-child{
    margin-left: 550px;
}

#button{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #BBBAFE;
    color: #5653FD;
    width: 100px;
    height: 40px;
    transition: 0.4s;
    font-family: pop;
    margin-right: 60px;
    
   
}
#button:hover{
    background-color: #5653FD;
    
    cursor: pointer;
    color: white;
}
#potable{
    top: 25%;
    margin-left:100px;
    position: absolute;
    font-size: 14px;
    
}
#build{
    top: 30%;
    margin-left: 100px;
    position:absolute;
    font-size:50px; 
    font-weight: bolder;
    
}
p{
    display: inline-block;
    width: 350px;
}
#page-button{
    top: 75%;
    margin-left: 100px;
    position: absolute;
    font-size: 10px;
    color:white ;
    background-color: #5653FD;
    border:none;
    padding: 6px 35px 6px 35px;

}
p{
    font-family: mont;
}



    .hover-underline-animation {
        display: inline-block;
        position: relative;
        color: white;
      }
      
      .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 50%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color:#5653FD;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      
      .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      #last-child{
        margin-left: 650px;
    }