@font-face {
    src: url('Fonts/Poppins-Light.otf');
    font-family: pop;
 }

*{

    margin: 0;
    padding: 0;
}
.grid-style{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}
.left-side{
    
    
}
.right-side{
    height: 100%;
    background: url(Image/3dback.png);
    background-repeat: no-repeat;
    background-position: center;
    
}
nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: 0;
    padding-top: 20px;
}
.items-list{
    display: flex;
    align-items: center;
    margin-right: auto;
    list-style: none;
    margin-left: 100px;

}
a{
    text-decoration: none;
    margin-right: 80px;
    font-family: pop;
    color: #808080;
    font-size: 13px;
}
.final-words{
    top: 50%;
    margin-left: 100px;
    position: absolute;
    width: 460px;
    font-size: 13px;
       
}
.mid-text{
    top: 35%;
    position: absolute;
    margin-left: 100px;
    font-size: 60px;
    font-family: pop;
}
#button{
    top: 65%;
    position: absolute;
    margin-left: 100px;
    background-color: #3FA7EC;
    padding: 10px 15px 10px 15px;
    border-style: none;
    color: white;
    font-family: pop;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
