
@font-face {
   src: url(FuturaPTBold.otf);
   font-family: futurabold;
}
@font-face {
    src: url(FuturaPTLight.otf);
    font-family: futuralight;
 }

 @font-face {
    src: url(FuturaPTCondMedium.otf);
    font-family: futura;
 }
 @font-face {
    src: url('Fonts/Poppins-Light.otf');
    font-family: pop;
 }
.backgroundImage{
    background-image: url('Images/furniture.png');
    background-size: cover;
    background-repeat: no-repeat;
    
    background-attachment:scroll;
    
    width: 100%;
    height: 100vh;
    background-position: center;
}
*{
    padding: 0;
    margin: 0;
}
#textPos{
    width: 100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
  
.navBar{
    margin-left: 200px;
    
   
}
.navBar ul li{
    list-style: none;
    display: inline-block;
    margin: 30px 20px;
    position: relative;
    
    
}


.navBar ul li a{
    text-decoration: none;
    color:#fff;
    font-family: pop;
    font-size: 14px;
    
   
}


#button{
    background-color: #2D2D2D;
    border-radius: 20px;
    color: white;
    width: 140px;
    height: 40px;
    border-width: 0px;
    transition: 0.4s;
    font-family: pop;
   
}
#button:hover{
    background-color: white;
    
    cursor: pointer;
    color: #171717;
}

#textPos{
    font-size: 55px;
    font-family: pop;
    
}
#whiteBack{
    color: white;
}
div ul #button  {
    margin-left: 600px;
  
}
#about_left{
    position: absolute;
    margin-left: 500px;
}

.fa-brands{
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: 0.4s;
    
}
.fa-brands:hover{
    
    color: #0B6FE4;

}
.iconPack{
    margin-top: 500px;
    margin-left: 1170px;
}
.twitterLogo{
    position:absolute;
    margin-left: 30px;
}