*{
    padding: 0;
    margin: 0;
}
body{
    background-color: white;
    overflow: hidden;
   
    
}
@font-face {
    src: url('Fonts/Poppins-Light.otf');
    font-family: pop;
 }
 @font-face {
   
     src: url('Fonts/Montserrat-VariableFont_wght.ttf');
     font-family: mont;
 }
 *{
     font-family: pop;
     margin: 0;
     padding: 0;
 }
 li{
     list-style: none;
 }
 a{
     text-decoration: none;
     list-style: none;
     color: #5653FD;
 }
 nav{
     display: flex;
     align-items: center;
     margin-right: 50px;
     margin-left: 50px;
     margin-top: 20px;
     

    
 }
 .items-list{
    display: flex;
    align-items: center;
    list-style: none;
   
}

 #last-child{
   margin-left: 950px;
 }
 #top-button2{
    padding: 5px 25px 5px 25px;
     font-family: pop;
     margin-left: 50px;
     background-color: white;
     border: 1px solid #5653FD;
     border-radius: 3px;
     color: #5653FD;
     transition: .3s;
 }
 #top-button2:hover{
     border-style: solid;
     border-width: 1px;
     background-color: #5653FD;
     color: white;
 }
 .left-side{
     margin-left: 50px;
     position: absolute;
     top: 25%;
 }
 .img-pos{
    object-fit: contain;
    width: 75%;
    background-attachment: fixed;
    margin-left: 600px;
    object-position: -30px -10px;
    margin-top:0px    
 }
 #tp{
     color: #2B2B2B;
     font-weight: bolder;
     font-size: 80px;
 }
 #main-text{
     font-family: mont;
     font-size: 50px;
     width: 550px;
     font-weight: bolder;
     color: #5653FD;

 }
 #bot-text{
     color: #8C8AFE;
     font-size: 13px;
     width: 350px;
     margin-top: 20px;
 }
 #bot-button1{
    padding: 10px 25px 10px 25px;
    background-color: #5653FD;
    border: none;
    border-radius: 3px;
    color: white;
    margin-top: 40px;
    transition: .3s;
    
 }
 #bot-button1:hover{
     background-color: white;
     border: 1px solid #5653FD;
     color: #5653FD;
 }
 .topmost{
     color: #AAAAAA;
 }


